@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: rgb(183, 210, 253);
    box-shadow: 5px 3px 5px rgb(145, 145, 255);
    margin-bottom: 30px;
    border-radius: 0px 0px 5px 5px;
}

article {

}

article > h2 {
    background-color: rgb(96, 197, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

article > p {
    color: aliceblue;
    padding: 10px;
    margin: 5px;
}

header {
    background-color: rgb(103, 148, 255);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    border-radius: 0px 0px 5px 5px;
}

header > h1 {
    color: aliceblue;
    font-size: 3em;
    text-shadow: 5px 3px 7px rgb(98, 98, 98);
}

header > p {
    font-size: 1.2em;
    color: aliceblue;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

footer {
    background-color: rgb(27, 152, 255);
    color: aliceblue;
}